#ctstripe-payment-element,
#ctstripe-express-checkout-element,
#ctstripe-ece-global {
    width: 100%;
    box-sizing: border-box;
}

#payment .payment_box.payment_method_ctstripe {
    padding-left: 0;
    padding-right: 0;
    background: transparent;
}
